<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books-API</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <style>
         body{
            background-image: url('{{ url_for("static",filename="assets/1.jpg") }}');
        } 
    </style>
</head>
<body>
    <nav>
        <div>Books API-V1.0</div>
    </nav>
    <main>
        <div>
            <div class="one">
                <div class="get">GET</div><div class="type">/api/v1/books</div>
            </div>
            <div class="two"><div class="bar"></div><a target="_blank"href="https://books-api-nd8e.onrender.com/api/v1/books" class="text">https://books-api-nd8e.onrender.com/api/v1/books</a></div>
        </div>

        <div>
            <div class="one"><div class="get">GET</div><div class="type">/api/v1/get_book_by_id?id={id}</div></div>
            <div class="two"><div class="bar"></div><a target="_blank"href="https://books-api-nd8e.onrender.com/api/v1/get_book_by_id?id=2" class="text">https://books-api-nd8e.onrender.com/api/v1/get_book_by_id?id=2</a></div>
        </div>

        <div>
            <div class="one"><div class="get">GET</div><div class="type">/api/v1/get_book_by_author?Author={author_name}</div></div>
            <div class="two"><div class="bar"></div><a target="_blank" href="https://books-api-nd8e.onrender.com/api/v1/get_book_by_author?Author=Salim Ali" class="text">https://books-api-nd8e.onrender.com/api/v1/get_book_by_author?Author=Salim Ali</a></div>
        </div>
        <div>
            <div class="one"><div class="get">GET</div><div class="type">/api/v1/get_book_by_name?id={name}</div></div>
            <div class="two"><div class="bar"></div><a target="blank" href="https://books-api-nd8e.onrender.com/api/v1/get_book_by_name?name=Fall of a sparrow" class="text">https://books-api-nd8e.onrender.com/api/v1/get_book_by_name?name=Fall of a sparrow</a></div>
        </div>

        <div>
            <div class="one"><div class="post">POST</div><div class="type">/api/v1/addbooks</div></div>
            <div class="two"><div class="bar"></div><div class="text d">https://books-api-nd8e.onrender.com/api/v1/addbooks</div><img src="{{url_for('static',filename='assets/copy.svg')}}" alt=""> <div class="check">Copied to clipboard</div> </div>
        </div>

        <div>
            <div class="one"><div class="delete">DELETE</div><div class="type">/api/v1/delete/{id}</div></div>
            <div class="two"><div class="bar"></div><div class="text d">https://books-api-nd8e.onrender.com/api/v1/delete/1</div><img src="{{url_for('static',filename='assets/copy.svg')}}" alt=""><div class="check">Copied to clipboard</div></div>
        </div>
        <div>
            <div class="one"><div class="patch">PATCH</div><div class="type">/api/v1/update_book_details/{id}</div></div>
            <div class="two"><div class="bar"></div><div class="text d">https://books-api-nd8e.onrender.com/api/v1/update_book_details/3</div> <img src="{{url_for('static',filename='assets/copy.svg')}}" alt=""><div class="check">Copied to clipboard</div></div>
        </div>
        <div>
            <div class="one"><div class="put">PUT</div><div class="type">/api/v1/update_book/{id}</div></div>
            <div class="two"><div class="bar"></div><div class="text d">https://books-api-nd8e.onrender.com/api/v1/update_book/1</div><img src="{{url_for('static',filename='assets/copy.svg')}}" alt=""><div class="check">Copied to clipboard</div></div>
        </div>
    </main>
    <footer>
        <p>&copy; 2025 Books-API. All rights reserved.</p> 
    </footer>
    <script src="{{url_for('static',filename='js/script.js')}}"></script>
</body>
</html>